@model LibraryManagementSystem.Domain.Author
@{
    Layout = "_Layout";
}

<h1>Add Author</h1>
@* DO NOT MODIFY ABOVE THIS LINE *@
@* TODO: 13. Add a form to add an author. You may want to refer to add.cshtml for Members *@

@* DO NOT MODIFY BELOW THIS LINE *@
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}