@model IEnumerable<LibraryManagementSystem.Domain.Author>
@{
    Layout = "_Layout";
}

<h1>Authors</h1>

@* DO NOT MODIFY ABOVE THIS LINE *@
@* 
TODO: 12. Follow the pattern in Views/Members/Members.cshtml and make a similar listing for Authors here
Include Add, Update, and Delete actions.
Author has two properties: Name and Books. Call the BooksToString() method to display the books.
*@

@* DO NOT MODIFY BELOW THIS LINE *@
